@import './styles/styles.css';

.winner_wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

.help_text{
    position: absolute;
    font-size: 3vw;
    background: #000;
    color: white;
    bottom: 50px;
    left: 50px;
    padding: 5px;
}

.winner_wrapper h2{
    font-size: 3vw;
    background: #000;
    border-radius: 15px;
    color: white;
}

.winner_wrapper img{
    position: relative;
    object-fit: cover;
    height: 80%;
}

